* {
  font-family: arial;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 3000px;
}
button {
  background-color: black;
  color: white;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 16px;
  position: absolute;
  top: -12px;
  left: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div {
  height: 180px;
  width: 320px;
  background-color: gray;
  position: fixed;
  bottom: 12px;
  right: 12px;
}
