* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  height: 500px;
  width: 400px;
  position: relative;
  margin: 12px;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card p {
  position: absolute;
  top: 12px;
  right: 0px;
  background-color: black;
  font-family: Arial;
  padding: 4px 12px;
  color: white;
}
